{% extends 'base.html' %}
{% block title %}Register Page{% endblock %}
{% from 'input.html' import render_field %}


{% block body %}
  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="#" class="logo d-flex align-items-center w-auto">
                  <span class="d-none d-lg-block">Arknet</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Personal Details</h5>
                  </div>

                  <form method="post" class="row g-3 needs-validation" novalidate>
                    {{ form.csrf_token }}
                    {{ render_field(form.first_name) }}
                    {{ render_field(form.middle_name) }}
                    {{ render_field(form.last_name) }}
                    {{ render_field(form.address) }}
                    {{ render_field(form.phone) }}

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="sm-checkbox" type="checkbox" value="" id="sm-checkbox">
                        <label class="form-check-label" for="social-media">Social Media</label>
                        <div class="mt-2" id="social-media">
                          <div class="row">
                            {{ render_field(form.social_media, col='col-12 mb-3') }}
                            {{ render_field(form.account_name, col='col-12 mb-3') }}
                          </div>
                        </div>
                      </div>
                    </div>

                    <script>
                      $('#social-media').hide();
                      $('#sm-checkbox').change(function() {
                          if ($('#sm-checkbox').prop('checked')) {
                              $('#social-media').show();
                              $('#company').attr('required', 'required');
                              $('#account_name').attr('required', 'required');
                          } else {
                              $('#social-media').hide();
                              $('#company').attr('required', 'required');
                              $('#account_name').attr('required', 'required');
                          }
                      });
                    </script>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="{{ url_for('auth.login') }}">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
{% endblock %}