{% extends 'base.html' %}
{% block title %}Register Page{% endblock %}


{% block body %}
  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="#" class="logo d-flex align-items-center w-auto">
                  <span class="d-none d-lg-block">Arknet</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Personal Details</h5>
                  </div>

                  <form method="post" class="row g-3 needs-validation" novalidate>
                    {{ form.csrf_token }}

                    <div class="col-12">
                      {{ form.first_name.label }}
                        {{ form.first_name(class="form-control" + (" is-invalid" if form.first_name.errors else "") ) }}
                        {% if form.first_name.errors %}
                          {% for error in form.first_name.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                          {% endfor %}
                        {% endif %}
                    </div>

                    <div class="col-12">
                      {{ form.middle_name.label }}
                        {{ form.middle_name(class="form-control" + (" is-invalid" if form.middle_name.errors else "") ) }}
                        {% if form.middle_name.errors %}
                          {% for error in form.middle_name.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                          {% endfor %}
                        {% endif %}
                    </div>

                    <div class="col-12">
                      {{ form.last_name.label }}
                        {{ form.last_name(class="form-control" + (" is-invalid" if form.last_name.errors else "") ) }}
                        {% if form.last_name.errors %}
                          {% for error in form.last_name.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                          {% endfor %}
                        {% endif %}
                    </div>

                    <div class="col-12">
                      {{ form.address.label }}
                        {{ form.address(class="form-control" + (" is-invalid" if form.address.errors else "") ) }}
                        {% if form.address.errors %}
                          {% for error in form.address.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                          {% endfor %}
                        {% endif %}
                    </div>

                    <div class="col-12">
                      {{ form.phone.label }}
                        {{ form.phone(class="form-control" + (" is-invalid" if form.phone.errors else "") ) }}
                        {% if form.phone.errors %}
                          {% for error in form.phone.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                          {% endfor %}
                        {% endif %}
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="sm-checkbox" type="checkbox" value="" id="sm-checkbox">
                        <label class="form-check-label" for="social-media">Social Media</label>
                        <div class="mt-2" id="social-media">
                          <div class="row">
                            <div class="col-12 mb-3">
                              <label for="company" class="form-label">Company Name</label>
                              <input type="text" name="company" class="form-control" id="company" placeholder="Example: Facebook">
                            </div>
                            <div class="col-12 mb-3">
                              <label for="account_name" class="form-label">Account</label>
                              <input type="text" name="account_name" class="form-control" id="account_name" placeholder="Example: User">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <script>
                      $('#social-media').hide();
                      $('#sm-checkbox').change(function() {
                          if ($('#sm-checkbox').prop('checked')) {
                              $('#social-media').show();
                              $('#company').attr('required', 'required');
                              $('#account_name').attr('required', 'required');
                          } else {
                              $('#social-media').hide();
                              $('#company').attr('required', 'required');
                              $('#account_name').attr('required', 'required');
                          }
                      });
                    </script>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="{{ url_for('auth.login') }}">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
{% endblock %}