[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
wtforms = "*"
wtforms-sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
python-dotenv = "*"
flask-migrate = "*"
timeago = "*"
captcha = "*"
gunicorn = "*"
imagekitio = "*"
flask-session = "*"
flask-talisman = "*"
email-validator = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
