{% extends 'base.html' %}
{% block title %}Payment Form{% endblock %}
{% from 'input.html' import render_field %}


{% block body %}

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center bg-info bg-gradient bg-opacity-50">
    {% include 'includes/logo.html' %}
    {% include 'includes/navbar.html' %}
  </header><!-- End Header -->

   <!-- ======= Sidebar ======= -->
   {% include 'includes/sidenav.html' %}


  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Payment</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('main.dashboard') }}">Home</a></li>
          <li class="breadcrumb-item">Payment</li>
          <li class="breadcrumb-item active">Form</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="container">

      <section class="section register d-flex flex-column justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="#" class="logo d-flex align-items-center w-auto">
                  <span class="d-none d-lg-block">Arknet</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Payment Form</h5>
                  </div>

                  <form method="post" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
                    {{ form.csrf_token }}

                    {{ render_field(form.user, prefix='@')}}
                    {{ render_field(form.plan) }}
                    {{ render_field(form.due_date, col='col-6')}}
                    {{ render_field(form.date_paid, col='col-6')}}
                    {{ render_field(form.total, prefix='₱', col='col-6') }}
                    {{ render_field(form.remarks) }}
                    {{ render_field(form.admin_key) }}

                    <div class="col-6">
                        <a href="{{ url_for('admin.payment.delete_payment', token=dumps_token(payment_id, salt='delete_payment')) }}" class="btn btn-danger w-100 submit_btn">Delete</a>
                    </div>
                    <div class="col-6">
                      <button class="btn btn-primary w-100 submit_btn" type="submit">Save</button>
                    </div>

                    <script>
                      $(document).ready(function(){
                          $(".submit_btn").on("click", function(){
                            $(this)
                                .text("Loading...")
                                .attr("disabled", "disabled")
                                .prepend('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>')
                            $('form').submit();
                          })
                      });
                      </script>
                      

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
{% endblock %}