{% extends 'base.html' %}
{% block title %}Profile Page{% endblock %}


{% block body %}

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center bg-info bg-gradient bg-opacity-50">
    {% include 'includes/logo.html' %}
    {% include 'includes/search_bar.html' %}
    {% include 'includes/navbar.html' %}
  </header><!-- End Header -->

   <!-- ======= Sidebar ======= -->
   {% include 'includes/sidenav.html' %}


  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Payment</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('main.dashboard') }}">Home</a></li>
          <li class="breadcrumb-item">Payment</li>
          <li class="breadcrumb-item active">Form</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="container">

      <section class="section register d-flex flex-column justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="#" class="logo d-flex align-items-center w-auto">
                  <span class="d-none d-lg-block">Arknet</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Payment Form</h5>
                  </div>

                  <form method="post" class="row g-3 needs-validation" novalidate>
                    {{ form.csrf_token }}

                    <div class="col-12">
                      {{ form.user.label(class='form-label') }}
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        {{ form.user(class="form-control" + (" is-invalid" if form.user.errors else "") ) }}
                        {% if form.user.errors %}
                          {% for error in form.user.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>

                    <div class="col-12">
                      {{ form.plan.label(class='form-label') }}
                      {{ form.plan(class="form-control" + (" is-invalid" if form.plan.errors else "") ) }}
                      {% if form.plan.errors %}
                        {% for error in form.plan.errors %}
                          <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                      {% endif %}
                    </div>

                    <div class="col-12">
                      <label class="form-check-label" for="social-media">Expired in:</label>
                      <div class="mt-2 mx-3">
                        <div class="row">
                          <div class="col-4">
                            {{ form.days.label(class='form-label') }}
                            {{ form.days(class="form-control" + (" is-invalid" if form.days.errors else "") ) }}
                            {% if form.days.errors %}
                              {% for error in form.days.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                              {% endfor %}
                            {% endif %}
                          </div>
                          <div class="col-4">
                            {{ form.months.label(class='form-label') }}
                            {{ form.months(class="form-control" + (" is-invalid" if form.months.errors else "") ) }}
                            {% if form.months.errors %}
                              {% for error in form.months.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                              {% endfor %}
                            {% endif %}
                          </div>
                          <div class="col-4">
                            {{ form.years.label(class='form-label') }}
                            {{ form.years(class="form-control" + (" is-invalid" if form.years.errors else "") ) }}
                            {% if form.years.errors %}
                              {% for error in form.years.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                              {% endfor %}
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      {{ form.remarks.label(class='form-label') }}
                      {{ form.remarks(class="form-control" + (" is-invalid" if form.remarks.errors else "") , placeholder="Example: Paid") }}
                      {% if form.remarks.errors %}
                        {% for error in form.remarks.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                          {% endfor %}
                      {% endif %}
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Submit</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
{% endblock %}