{% extends 'base.html' %}
{% block title %}Payment Form{% endblock %}
{% from 'input.html' import render_field %}


{% block body %}

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center bg-info bg-gradient bg-opacity-50">
    {% include 'includes/logo.html' %}
    {% include 'includes/search_bar.html' %}
    {% include 'includes/navbar.html' %}
  </header><!-- End Header -->

   <!-- ======= Sidebar ======= -->
   {% include 'includes/sidenav.html' %}


  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Payment</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('main.dashboard') }}">Home</a></li>
          <li class="breadcrumb-item">Payment</li>
          <li class="breadcrumb-item active">Form</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="container">

      <section class="section register d-flex flex-column justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="#" class="logo d-flex align-items-center w-auto">
                  <span class="d-none d-lg-block">Arknet</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Payment Form</h5>
                  </div>

                  <form method="post" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
                    {{ form.csrf_token }}

                    {{ render_field(form.user, prefix='@')}}
                    {{ render_field(form.plan) }}
                    <div class="col-12" id="expired_in" style="display: none;">
                      <label class="form-check-label">Expired in:</label>
                      <div class="mt-2 mx-3">
                        <div class="row">
                          {{ render_field(form.days, col='col-4')}}
                          {{ render_field(form.months, col='col-4')}}
                          {{ render_field(form.years, col='col-4')}}
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="total_payment" class="form-label">Total Payment</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">₱</span>
                        <div id="total_payment" class="form-control"></div>
                      </div>
                    </div>
                    {{ render_field(form.remarks) }}
                    {{ render_field(form.receipt) }}
                    {{ render_field(form.admin_key) }}

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit" id="submit_btn">Submit</button>
                    </div>

                    <script>
                      $(document).ready(function(){
                          var plan = null;
                          $('#plan').on('change', function(){
                            $.getJSON('{{url_for("main.all_plans")}}', function(data){
                              $.each(data, function(index){
                                if(data[index].id === Number($('#plan').val())){
                                  plan = data[index];
                                  $('#expired_in').show();
                                }
                              });
                            });
                            if($(this).val() == '__None'){
                              $('#expired_in').hide();
                            }
                          });
                          $("input[type='number']").on("keyup", function(){
                              let days = Number($('#days').val());
                              let months = Number($('#months').val()) * 30;
                              let years = Number($('#years').val()) * 365;
                              $("#total_payment").text((((days + months + years)/ plan.days) * plan.price).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
                          });

                          $("#submit_btn").on("click", function(){
                            $(this)
                                .text("Loading...")
                                .attr("disabled", "disabled")
                                .prepend('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>')
                            $('form').submit();
                          })
                      });
                      </script>
                      

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
{% endblock %}