{% extends 'base.html' %}
{% block title %}Profile Page{% endblock %}


{% block body %}

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center bg-info bg-gradient bg-opacity-50">
    {% include 'includes/logo.html' %}
    {% include 'includes/search_bar.html' %}
    {% include 'includes/navbar.html' %}
  </header><!-- End Header -->

   <!-- ======= Sidebar ======= -->
   {% include 'includes/sidenav.html' %}


  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Plan</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('main.dashboard') }}">Home</a></li>
          <li class="breadcrumb-item">Plan</li>
          <li class="breadcrumb-item active">Form</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="container">

      <section class="section register d-flex flex-column justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="#" class="logo d-flex align-items-center w-auto">
                  <span class="d-none d-lg-block">Arknet</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create Plan</h5>
                  </div>

                  <form method="post" class="row g-3 needs-validation" novalidate>
                    {{ form.csrf_token }}

                    <div class="col-6 mx-auto">
                      {{ form.price.label(class='form-label') }}
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">₱</span>
                        {{ form.price(class="form-control" + (" is-invalid" if form.price.errors else "") ) }}
                      </div>
                      {% if form.price.errors %}
                        {% for error in form.price.errors %}
                          <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                      {% endif %}
                    </div>

                    <div class="col-6 mx-auto">
                      {{ form.speed.label(class='form-label') }}
                      <div class="input-group has-validation">
                        {{ form.speed(class="form-control" + (" is-invalid" if form.speed.errors else "") ) }}
                        <span class="input-group-text" id="inputGroupPrepend">mbps</span>
                      </div>
                      {% if form.speed.errors %}
                        {% for error in form.speed.errors %}
                          <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                      {% endif %}
                    </div>

                    <div class="col-12">
                      {{ form.admin_key.label(class='form-label') }}
                      {{ form.admin_key(class="form-control" + (" is-invalid" if form.admin_key.errors else "") , placeholder="Example: Paid") }}
                      {% if form.admin_key.errors %}
                        {% for error in form.admin_key.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                          {% endfor %}
                      {% endif %}
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Submit</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
{% endblock %}